
.jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.jScrollPaneTrack {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	height: 100%;
	background-color:#F1EDE5;
	border:1px solid #b5b1a6;
	width:13px!important;
}
.jScrollPaneDrag {
	position: absolute;
	/*background: #666;*/
	background:url(ui-lightness/images/scrl_but.jpg) no-repeat left top;  
	cursor: pointer;
	overflow: hidden;
	width:13px!important;
}
.jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
a.jScrollArrowUp {
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	/*background-color: #666;*/
	background:url(ui-lightness/images/scrl_up.jpg) no-repeat center top;
	height: 15px;
	width:15px!important;
}
a.jScrollArrowUp:hover {
	/*background-color: #f60;*/
}

a.jScrollArrowDown {
	display: block;
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	/*background-color: #666;*/
	background:url(ui-lightness/images/scrl_down.jpg) no-repeat center top;
	height: 15px;
	width:15px!important;
}
a.jScrollArrowDown:hover {
	/*background-color: #f60;*/
}
a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover {
	/*background-color: #f00;*/
}